@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1569246693479'); /* IE9 */
  src: url('iconfont.eot?t=1569246693479#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALUAAsAAAAABpAAAAKIAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBHIE3ATYCJAMICwYABCAFhG0HMBvdBcguMRUZ6a6kSIHNxUUPffmDq2FCgHh42q/fufNmbXa/O2JRNYsmMh7KT2wlLSWSTBqheCSLhkJ7+z+XOWJ7Ms8f0FARKrTF/AKnGTkgJ6fU5OZImKUid321XD84BlmYaaIHGEEiMRzXGLq99mADDjnCgDyUQfZ5Lqd3DaBA5gfKZY6JvaNegPHWAPeyosiKJPaWqy3wchVxn0CxbKBwdu/kHOoye1kg7nmOAfVCRJZVvi00G/Zm8VBDOz1I74FB9P34ZxZ1kkbFbrpwY9eGjZ/oFFX9uu96QIgS6HADFfYAmbjSmDmnJBSrpGTK1sGx6oOfpa4Dmzjqnyea7NoeWETJM0k92aPWJpBxfA9wedKz5NZQr7f5tdYt8flab8so53/zO69zzWgsyotQiM38d5Le7kVyhIEwWdf9L7DU8KMD+vdYEUKr6Usad4PCRUcYiPyWrGgzLA4GCZX3WIQK/h0nAep+VvUFgv9DtN7R290Mvj7+j0g2zEf7fN7gv0kHtmVDbuvTA0jIm+zJLZdQFNQ4MO5nqmHqJl2hXZAqJC1LqLRtITNzDxq69qKp7QSK3fYPd01gJZE72OUFEEa9Ixn2DpVRH2RmfqNh2j+aRqOE4lpMnNm1LbzmGSZDyEbzDj0riZVrl2Zcf0rOVWhwXh6xL4lzL47T0aSc36eYeIkN+bUzE1GoOIlwDx6jMEww5cQnS0auSLo+HqumN42sJIKmMxgxCGJDpjvIY0nEVNBdNCufP0UcV0IG7qDUgpcIy3mTo6mRyQByXxMPojzKK7lrjhkhFKSwRATtwSwSCiVQ2jzLRyxixJ2QSq0bO53UUM1oe130d3ugsI0pnGmV5mYSO+4VAA==') format('woff2'),
  url('iconfont.woff?t=1569246693479') format('woff'),
  url('iconfont.ttf?t=1569246693479') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1569246693479#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e60a";
  font-size: 14px;
}
